<mat-tab-group>

  <mat-tab label="Presentation">
    <div class="spacing">
      <app-cover></app-cover>
    </div>
  </mat-tab>

  <mat-tab label="Intro">
    <div class="spacing">
      <app-intro></app-intro>
    </div>
  </mat-tab>

  <mat-tab label="Use Case">
    <div class="spacing">
      <app-use-case></app-use-case>
    </div>
  </mat-tab>

  <mat-tab label="Movie Search">
    <div class="spacing">
      <app-movie-search></app-movie-search>
    </div>
  </mat-tab>

  <!-- mat-tab label="Observable">
    <div class="spacing">
      <app-observ></app-observ>
    </div>
  </mat-tab>

  <mat-tab label="Click Demo">
    <div class="spacing">
      <app-click></app-click>
    </div>
  </mat-tab -->
</mat-tab-group>