<mat-tab-group class="app">

  <!-- 1 -->
  <mat-tab label="Presentation">
    <div class="spacing">
      <div class="image page">
        <img src="https://source.unsplash.com/0VGG7cqTwCo/1024x768">
        <div class="title">Understanding RxJS</div>
        <div class="byline">
          <div class="author">Marcel Lamothe</div>
          <div class="author-title">Sr. Software Engineer & Architect at CAMP Systems</div>
        </div>
      </div>
    </div>
  </mat-tab>

  <!-- 2 -->
  <mat-tab label="Intro">
    <div class="spacing">
      <img src="https://source.unsplash.com/Kp9z6zcUfGw/1024x768">
      <div class="question">
        <p>What if you could treat events like data?</p>
      </div>
    </div>
  </mat-tab>

  <!-- 3 -->
  <mat-tab label="Use Case">
    <div class="spacing text">
      <p>Create an auto-complete control that performs a server-side movie search as the user types.</p>
      <p>Don't start searching until they've entered at least three characters.</p>
      <p>Wait a quarter second between each keypress.</p>
      <p>As the user types, old search requests need to be cancelled.</p>
      <p>We will do all this with a single line of RxJS.</p>
    </div>
  </mat-tab>

  <!-- 4 -->
  <mat-tab label="Observable">
    <div class="spacing">
      <p>At the heart of RxJS is the Observable.</p>
      <p>It has three main aspects:</p>
      <p>1. Static Factory Methods</p>
      <p>2. The subscribe method</p>
      <p>3. The pipe method.</p>
    </div>
  </mat-tab>

  <!-- 5 -->
  <mat-tab label="Factory Methods">
    <div class="spacing">
      <app-factory-demo></app-factory-demo>
    </div>
  </mat-tab>

  <!-- 6 -->
  <mat-tab label="Subscribe">
    <div class="spacing">
      <app-subscribe-demo></app-subscribe-demo>
    </div>
  </mat-tab>

  <!-- 7 -->
  <mat-tab label="Subscribe/Completed">
    <div class="spacing">
      <app-subscribe-completed></app-subscribe-completed>
    </div>
  </mat-tab>

  <!-- 8 -->
  <mat-tab label="Subscribe/Error">
    <div class="spacing">
      <app-error-demo></app-error-demo>
    </div>
  </mat-tab>

  <!-- 9 -->
  <mat-tab label="Map & Filter">
    <div class="spacing">
      <app-map-filter></app-map-filter>
    </div>
  </mat-tab>

  <!-- 10 -->
  <mat-tab label="Movie Search">
    <div class="spacing">
      <app-movie-search></app-movie-search>
    </div>
  </mat-tab>

  <!-- 11 -->
  <mat-tab label="Maps">
    <div class="spacing">
      <app-map-types></app-map-types>
    </div>
  </mat-tab>

  <!-- 12 -->
  <mat-tab label="Hot vs Cold Observables">
    <div class="spacing">
      <app-cold-vs-hot></app-cold-vs-hot>
    </div>
  </mat-tab>

  <!-- 13 -->
  <mat-tab label="Subjects">
    <div class="spacing">
      <app-subjects></app-subjects>
    </div>
  </mat-tab>

  <!-- 14 -->
  <mat-tab label="Behavior Subjects">
    <div class="spacing">
      <app-behavior-subject></app-behavior-subject>
    </div>
  </mat-tab>

  <!-- 15 -->
  <mat-tab label="RxJS API">
    <div class="spacing">
      <p><a href="https://rxjs.dev/api" target="_blank">https://rxjs.dev/api</a></p>
    </div>
  </mat-tab>

  <!-- 16 -->
  <mat-tab label="Decision Tree">
    <div class="spacing">
      <app-decision-tree></app-decision-tree>
    </div>
  </mat-tab>

  <!-- 17 -->
  <mat-tab label="History">
    <div class="spacing">
      <app-history></app-history>
    </div>
  </mat-tab>

  <!-- 18 -->
  <mat-tab label="The End">
    <div class="spacing">
      <app-end></app-end>
    </div>
  </mat-tab>

</mat-tab-group>
