<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Enter Movie Title" aria-label="Movie" [matAutocomplete]="auto" [formControl]="movieCtrl">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let movie of filteredMovies | async" [value]="movie.title">
        <span>{{movie.title}}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<br /><br />
<a target="_blank" href="http://rxmarbles.com/#startWith">Marble Diagram for startWith()</a>
<br /><br />
<a target="_blank" href="http://rxmarbles.com/#debounceTime">Marble Diagram for debounceTime()</a>
<br /><br />
<a target="_blank" href="http://rxmarbles.com/#switchMap">Marble Diagram for switchMap()</a>
<br /><br />
(See Code)
