.page {
    height:1024px
}

.title {
    position: absolute;
    top: 668px;
    font-size: 72pt;
    color: white;
    padding-left: 24px;
}

.byline {
    background-color: black;
    width: 1024px;
    margin-top:-4px;
    
    .author {
        color: white;
        font-size: 18pt;
        padding-left: 24px;
        padding-top: 24px;
    }

    .author-title {
        color:lightgrey;        
        font-size: 12pt;
        padding-left: 24px;
        padding-bottom: 24px;
    }
}