<button mat-raised-button color="primary" (click)="runTimer()">{{started?'Stop':'Start'}} timer() Demo</button>
<div class="result">{{timerValue}}</div>
{{isComplete ? 'Complete' : ''}}
<br /><br />
<button mat-raised-button color="primary" (click)="throwError()">Throw Error</button>
<div class="error">{{errorValue}}</div>

<br /><br />
<a target="_blank" href="http://rxmarbles.com/#merge">Marble Diagram for merge()</a>
vs
<a target="_blank" href="http://rxmarbles.com/#concat">Marble Diagram for concat()</a>
<br /><br />
(See Code)
