/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.image {
    width: 1024px;
    height: 768px;
}

p {
    font-size: 36pt;
}