<!-- Timer -->
<button mat-raised-button color="primary" (click)="runTimer()">{{started?'Stop':'Start'}} timer() Demo</button>
<div class="result">{{timerObs|async}}</div>

<br /><br />
<a target="_blank" href="http://rxmarbles.com/#skip">Marble Diagram for skip()</a>
<br /><br />
<a target="_blank" href="http://rxmarbles.com/#filter">Marble Diagram for filter()</a>
<br /><br />
<a target="_blank" href="http://rxmarbles.com/#map">Marble Diagram for map()</a>
<br /><br />and...
<a target="_blank" href="http://rxmarbles.com/#reduce">Marble Diagram for reduce()</a>
<br /><br />and...
<a target="_blank" href="http://rxmarbles.com/#scan">Marble Diagram for scan()</a>
